autom4te.cache/
tmp/
.deps/
*.log
*.status

Makefile
*.o
*.a
*.dll
*.so
*.lib
*.dylib
*.exe

aubitdemo/*.dat
aubitdemo/*.hlp
aubitdemo/*.4ae
i4gldemo/*.frm
i4gldemo/*.hlp
i4gldemo/*.4ge
cli/cli
db2sqc/*.bnd
test/*.res
test/*.err
test/cli
